@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-color: rgb(31, 36, 45);
    --second-bg-color: rgb(50, 57, 70);
    --text-color: rgb(255, 255, 255);
    --main-color: rgb(0, 255, 115);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky{
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.header .logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
    text-decoration: none;
}

.navbar{
    display: flex;
    align-items: center;
}

.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.language {
    width: 120px;
    margin-left: 40px;
}

.language-selected {
    display: flex;   
    align-items: center;
    color: #fff;
    cursor: pointer;
}

.language-selected:before {
    content: '';
    width: 30px;
    height: 30px;
    background-image: url(https://flagicons.lipis.dev/flags/4x3/br.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.language-selected.change-br:before {
    background-image: url(https://flagicons.lipis.dev/flags/4x3/br.svg);
}

.language-selected.change-en:before {
    background-image: url(https://flagicons.lipis.dev/flags/4x3/us.svg);
}

.language ul {
    position: absolute;
    width: 140px;
    background-color: #ffffff49;
    padding-top: 10px;
    display: none;
}

.language ul li {
    list-style: none;
}

.language ul li:hover {
    background-color: #1b1616;
}

.language ul li a:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}

a.br:before {
    background-image: url(https://flagicons.lipis.dev/flags/4x3/br.svg);
}

a.en:before {
    background-image: url(https://flagicons.lipis.dev/flags/4x3/us.svg);
}

.language:hover ul {
    display: block;
}