/* BREAKPOINTS */

@media (max-width: 1200px){
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px){
    .header{
        padding: 2rem 3%;
    }

    .home-content h3{
        font-size: 1.8rem;
    }

    .home-content h1{
        font-size: 2.6rem;
    }

    section{
        padding: 10rem 3% 2rem;
    }

    .services{
        padding-bottom: 7rem;
    }

    .portfolio{
        padding-bottom: 7rem;
    }

    .contact{
        min-height: auto;
    }

    .footer{
        padding: 2rem 3%;
    }
}

@media (max-width: 768px){
    #menu-icon{
        display: block;
        cursor: pointer;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active{
        display: block;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home{
        flex-direction: column;
    }

    .home-content h3{
        font-size: 2.3rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }

    .about{
        flex-direction: column-reverse;
    }

    .about img{
        width: 70vw;
        margin-top: 4rem;
    }

    .services h2{
        margin-bottom: 3rem;
    }

    .portfolio h2{
        margin-bottom: 3rem;
    }

    .portfolio-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 617px){
    .portfolio-container{
        grid-template-columns: 1fr;
    }

    .home-content h3{
        font-size: 1.5rem;
    }
}

@media (max-width: 450px){
    html{
        font-size: 50%;
    }

    .contact form .input-box input{
        width: 100%;
    }

    .home-content h3{
        font-size: 1.3rem;
    }
}

@media (max-width: 365px){
    .home-img{
        width: 90vw;
    }

    .about-img{
        width: 90vw;
    }

    .footer{
        flex-direction: column-reverse;
    }

    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
}