*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-color: #d0d0d0;
    --text-color: rgb(41, 51, 58);
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}